// Keyframes for animation
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.video-loading-notification-wrapper {
    background-color: $blue;
    width: 90%;
    // fix notification in the middle of the screen
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // bring to front
    z-index: 999;
    .video-loading-notification {
        // font
        font-family: $font-text-secondary;
        font-size: $font-size-default * $font-size-bigger;
        line-height: 1;
        // colour
        border: none;
        color: $white;
        // alignment
        text-align: center;
        padding: ($line-height-default / 2) 0 ($line-height-default / 6) 0;
    }
}

//sets up the buttons on the video menu
#videomenu button {
  display: block;
  width: 50%;
  border: 1px solid #000;
  margin: 1rem auto;
  padding:.5rem;
}


// https://loading.io/css/
.lds-dual-ring {
  display: block;
  margin: auto;
  width: fit-content;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 2em;
  height: 2em;
  margin: 0.5em 0 1em 0;
  border-radius: 50%;
  border: 0.2em solid $white;
  border-color: $white transparent $white transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
