$app-video: true !default;
@if $app-video {
    .video-wrapper {
        position: relative;
        // JS will add an iframe here; when it does:
        &.contains-iframe {
            float: none;
            clear: both;
            width: 100%;
            // Give the iframe an intrinsic ratio on all screens
            // Credit to https://alistapart.com/article/creating-intrinsic-ratios-for-video
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        video {
            width: 100%;
        }
        .video-description {
            font-family: $font-text-secondary;
            margin-top: $line-height-default;
            text-align: center;
        }
    }
    // Don't indent a paragraph after a video.
    .video-wrapper + p {
        text-indent: 0;
    }
}