// Video

.video {
    @include sidebar();
    margin-top: $line-height-default / 2;
    margin-bottom: $line-height-default / 2;
    page-break-inside: avoid;
    .video-wrapper {
        page-break-inside: avoid;
        // Play-button triangle
        &::before {
            content: normal;
        }
        a {
            img {
                padding: 0;
            }
        }
    }
    p + & + p,
    p + & + .definition + p {
        text-indent: $line-height-default;
    }
    .video-description {
        font-family: $font-text-secondary;
        margin: 0;
        text-align: left;
        .video-link-wrapper {
            margin-left: $line-height-default / 4;
            color: $color-accent;
        }
    }
}
