// Navigation

.masthead {
    @media only screen and (min-width: $max-width-default) {
        border-bottom-color: $black-10;
    }
}

.nav-title {
    font-weight: bold;
}

.pagination {
    .pagination-next {
        font-size: 2em;
        right: 0;
        position: absolute;
        @media only screen and (min-width: $break-width-medium) {
            position: fixed;
            bottom: 2em;
        }
    }
    .pagination-previous {
        font-size: 2em;
        left: 0;
        position: absolute;
        @media only screen and (min-width: $break-width-medium) {
            position: fixed;
            bottom: 2em;
        }
    }
}
