// Tools

@mixin tool-icon-styles($color: $grey) {
    background-color: $grey;
    border-radius: $line-height-default / 4;
    float: left;
    height: $line-height-default * 1.3;
    margin-right: $line-height-default / 4;
    padding: 0.25em;
    // padding-top: ($line-height-default / 5);
    // padding-bottom: 0;
    // padding-left: ($line-height-default / 10);
    // padding-right: ($line-height-default / 10);
    width: $line-height-default * 1.3;
}

.tool {
    h1 {
        &.icon-users {
            &::before {
                @include icon-users(white);
                @include tool-icon-styles();
                padding-top: 0.4em; // icon-specific placement
            }
        }
    }
}

.tool {
    h1 {
        &.icon-search {
            &::before {
                @include icon-search(white);
                @include tool-icon-styles();
            }
        }
    }
}

.tool {
    h1 {
        &.icon-map {
            &::before {
                @include icon-map(white);
                @include tool-icon-styles();
            }
        }
    }
}

.tool {
    h1 {
        &.icon-scale {
            &::before {
                @include icon-scale(white);
                @include tool-icon-styles();
                padding-top: 0.4em; // icon-specific placement
            }
        }
    }
}

.tool {
    h1 {
        &.icon-injury {
            &::before {
                @include icon-injury(white);
                @include tool-icon-styles();
                padding: 0.25em 0.3em 0.25em 0.3em; // icon-specific placement
            }
        }
    }
}

.tool {
    h1 {
        &.icon-list {
            &::before {
                @include icon-list(white);
                @include tool-icon-styles();
            }
        }
    }
}

.tool {
    h1 {
        &.icon-paintbrush {
            &::before {
                @include icon-paintbrush(white);
                @include tool-icon-styles();
            }
        }
    }
}

.tool {
    h1 {
        &.icon-calendar {
            &::before {
                @include icon-calendar(white);
                @include tool-icon-styles();
                padding: 0.25em 0.35em 0.25em 0.35em; // icon-specific placement
            }
        }
    }
}

.tool {
    h1 {
        &.icon-tick {
            &::before {
                @include icon-tick(white);
                @include tool-icon-styles();
                padding: 0.26em 0.35em 0.25em 0.35em; // icon-specific placement
            }
        }
    }
}

.tool {
    h1 {
        &.icon-puzzle {
            &::before {
                @include icon-puzzle(white);
                @include tool-icon-styles();
            }
        }
    }
}

.tool {
    h1 {
        &.icon-pencil {
            &::before {
                @include icon-pencil(white);
                @include tool-icon-styles();
            }
        }
    }
}

.tool {
    h1 {
        &.icon-clipboard {
            &::before {
                @include icon-clipboard(white);
                @include tool-icon-styles();
                padding: 0.25em 0.45em 0.25em 0.45em; // icon-specific placement
            }
        }
    }
}
