// Navigation

.masthead {
    ul {
        li {
            display: none;
        }
    }
}

.nav-title {
    font-weight: bold;
}

.content-logo {
    text-align: right;
    margin: 0 $line-height-default;
    img {
        width: $line-height-default * 10;
        max-width: 100%;
    }
}

.pagination {
    .pagination-next {
        font-size: 2em;
        right: 0;
        position: absolute;
        @media only screen and (min-width: $break-width-medium) {
            position: fixed;
            top: 5.75em; // align with first heading
        }
    }
    .pagination-previous {
        font-size: 2em;
        left: 0;
        position: absolute;
        @media only screen and (min-width: $break-width-medium) {
            position: fixed;
            top: 5.75em; // align with first heading
        }
    }
}

// Accordion

#content {
    [role="tab"] {
        a {
            border-bottom-width: 0;
        }
        &[data-accordion="closed"] {
            font-size: 1em;
        }
    }
}
