// Typography

// Headings

@mixin heading-1() {
    color: $color-accent;
    font-weight: normal;
    strong:first-of-type {
        display: block;
    }
}

@mixin heading-2() {
    font-size: $font-size-default * 1.3;
}

#content {
    h1 {
        @include heading-1();
    }
    h2 {
        @include heading-2();
    }
}

// Links

// We use blue as an accent colour, so we need extra affordances that links are clickable.
#content {
    a:not(.button):not(.footnote):not(.reversefootnote) {
        border-bottom: $rule-thickness dashed $lightgrey;
        &:hover {
            border-bottom-color: $grey;
        }
    }
    .nav-slides {
        a {
            border-bottom: none;
        }
    }
}

// Tables

@mixin table-colours($accent-color: $color-accent, $text-color: white) {
    color: $accent-color;
    th:not(:empty) {
        background-color: $accent-color;
        color: $text-color;
    }
}

#content {
    table {
        @include table-colours();
        font-family: $font-text-secondary;
        th, td {
            border: $rule-thickness solid $lightgrey;
        }
    }
}

#footer {
    .footer-content {
        display: flex;
        font-size: 0.7em;
        justify-content: space-between;
        line-height: $line-height-default;
        max-width: none;
        .logos {
            display: flex;
            .logo {
                display: inline-block;
                height: 3em;
                margin-right: 1em;
                img {
                    max-height: 100%;
                }
            }
        }
        p {
            text-align: right;
        }
    }
}
