// Home

.masthead {
    li {
        display: none;
    }
}

.home {
    .content-logo {
        display: none;
    }
    #content h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin-top: 0.5em;
        text-align: center;
    }
    .opener-image {
        background-color: $color-accent;
        height: 20em;
        margin-bottom: 2em;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100vw;
        img {
            object-fit: cover;
            width: 100%; // works with object-fit
            height: 100%; // works with object-fit
        }
        &.chapter-opener-image-none {
            display: none;
        }
        & + .chapter-opener-image-caption-wrapper {
            display: none; // caption not included in web designs
        }
    }
}

.home-buttons {
    display: flex;
    justify-content: center;
    p {
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }
        a {
            border-bottom: none!important;
            padding: $line-height-default / 2;
        }
    }
}

.home-sections {
    margin: 4em 0 7em 0;
    ul {
        font-family: $font-text-secondary;
        font-size: 1.3em;
        list-style-type: none;
        margin: auto;
        width: 20em;
        li {
            margin-bottom: $line-height-default;
            a {
                color: $black-70;
                font-weight: bold;
                strong:first-child {
                    color: $blue;
                }
            }
            &::before {
                display: block;
                float: left;
                margin-right: $line-height-default / 3;
            }
            &:nth-child(1) {
                &::before {
                    @include icon-brain($blue, ($line-height-default / 3 * 2));
                }
            }
            &:nth-child(2) {
                a {
                    strong:first-child {
                        color: $purple;
                    }
                }
                &::before {
                    @include icon-puzzle($purple, ($line-height-default / 3 * 2));
                }
            }
            &:nth-child(3) {
                a {
                    strong:first-child {
                        color: $green;
                    }
                }
                &::before {
                    @include icon-search($green, ($line-height-default / 3 * 2));
                }
            }
            &:nth-child(4) {
                a {
                    strong:first-child {
                        color: $yellow;
                    }
                }
                &::before {
                    @include icon-paint-roller($yellow, ($line-height-default / 3 * 2));
                }
            }
            &:nth-child(5) {
                a {
                    strong:first-child {
                        color: $red;
                    }
                }
                &::before {
                    @include icon-redo-alt($red, ($line-height-default / 3 * 2));
                }
            }
            a {
                border-bottom-width: 0!important;
                &:hover {
                    border-bottom-width: $rule-thickness!important;
                }
            }
        }
    }
}

.tool-box {
    // See _web-boxes.scss
}

