    {% capture path-to-assets-images %}assets/images/{{ site.output }}{% endcapture %}

    <div id="footer">
        <div class="footer-content">

            <div class="logos">
                <div class="logo">
                    {% include image file="penreach-logo.png" path=path-to-assets-images %}
                </div>
                <div class="logo">
                    {% include image file="rff-logo.png" path=path-to-assets-images %}
                </div>
            </div>

            <p>
                {{ project-credit | strip | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}
            </p>

        </div><!--.footer-content-->
    </div><!--#footer-->
